    </main>
    <footer class="footer container">
        <div class="footer-head">
            <h1 class="logo">MyMoney</h1>
            <nav class="menu">
                <a href="/">ГЛАВНАЯ</a>
                <a href="/secure">БЕЗОПАСНОСТЬ</a>
                <a href="/feedback">ОБРАТНАЯ СВЯЗЬ</a>
                <a href="/help">ПОМОЩЬ И ПОДДЕРЖКА</a>
            </nav>
        </div>
        <p class="copyright">
            &copy; 2024 MyMoney. Все права защищены. Использование материалов сайта возможно только с разрешения правообладателя.
        </p>
    </footer>
</body>
</html>