<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">MyMoney</h1>
            <div class="blocks">
                <nav class="contact">
                    <div class="icon-href">
                        <img src="phone.svg" alt="">
                        <p>8 (999) 999-99-99</p>
                    </div>
                    <div class="icon-href">
                        <img src="time.svg" alt="">
                        <p>Пн-Пт 8:00-22:00</p>
                    </div>
                    <div class="icon-href">
                        <img src="message.svg" alt="">
                        <p>help@mymoney.ru</p>
                    </div>
                    <div class="icon-href">
                        <img src="pos.svg" alt="">
                        <p>Россия, Самара</p>
                    </div>
                </nav>
                <nav class="menu">
                    <a href="/">ГЛАВНАЯ</a>
                    <a href="/secure">БЕЗОПАСНОСТЬ</a>
                    <a href="/feedback">ОБРАТНАЯ СВЯЗЬ</a>
                    <a href="/help">ПОМОЩЬ И ПОДДЕРЖКА</a>
                    <a href="/sign-in">ВОЙТИ</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">