<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>ШАПКА САЙТА</h1>
    </header>
    <main>
        {% block main %}
        {% endblock %}        
    </main>
    <footer>
        <p><small>&copy;Конроль финансов; автор Варламов Дамир</small></p>
    </footer>
</body>
</html>