{% extends 'base.html' %}

{% block main %}
<div class="hello min">
    <div class="container">
        <h2 class="title">Помощь и поддержка</h2>
    </div>
</div>
<div class="about container">
    <div class="content">
        <h1 style="margin-bottom: 10px;" class="logo title">MyMoney</h1>
        <p style="max-width: 580px;" class="text">
            Добро пожаловать в раздел помощи и поддержки! Здесь вы найдете информацию,
            которая поможет вам разобраться с вопросами и проблемами, связанными с нашим приложением.<br><br>
        </p>
    </div>
    <div class="whats">
        <h2 class="title">Часто задаваемые вопросы (FAQ)</h2>
        <p class="description">Мы собрали ответы на наиболее распространенные вопросы. Ознакомьтесь с ними, прежде чем обращаться в поддержку:</p>
        <p>
            <strong>1. Как зарегистрироваться в приложении?</strong><br>
            Чтобы создать учетную запись, перейдите на страницу регистрации и заполните необходимые поля.
        </p>
        <p>
            <strong>2. Как восстановить пароль?</strong><br>
        Нажмите на ссылку "Забыли пароль?" на экране входа и следуйте инструкциям.
        </p>
        <p>
            <strong>3. Как настроить бюджет?</strong><br>
            Перейдите в раздел "Бюджет", выберите категории расходов и установите лимиты.
        </p>
        <p>
            <strong>4. Как получить доступ к отчетам?</strong><br>
            Вы можете просматривать отчеты в специальном разделе, где доступны графики и аналитика ваших финансов.
        </p>
        <p>
            <strong>5. Как связаться с поддержкой?</strong><br>
            Вы можете заполнить форму обратной связи на странице "Обратная связь" или отправить нам электронное письмо на <a href="mailto:help@mymoney.ru">help@mymoney.ru</a>
        </p>
    </div>
</div>



{% endblock %}