{{template "header.html" .}}
    <div class="hello">
        <div class="container">
            <h2 class="title">Ваши деньги<br>под вашим контролем</h2>
            <p class="description">MyMoney - контроль финансов</p>
            <a class="accent-but" href="/sign-in">Начать действовать!
                <svg width="27" height="37" viewBox="0 0 27 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8578 16.8542C27.0093 17.6493 27.0093 19.3507 25.8578 20.1458L3.13638 35.8344C1.80971 36.7504 0 35.8008 0 34.1886V2.81139C0 1.19919 1.80971 0.249562 3.13638 1.1656L25.8578 16.8542ZM19.1976 20.1458C20.3491 19.3507 20.3491 17.6493 19.1976 16.8542L6.93276 8.3856C5.60609 7.46957 3.79638 8.4192 3.79638 10.0314V26.9686C3.79638 28.5808 5.60609 29.5304 6.93276 28.6144L19.1976 20.1458Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="list-card">
            <div class="card">
                <h3 class="title">Простой интерфейс</h3>
                <p class="text">Наше приложение разработано с учетом удобства пользователя.
                    Легкий в навигации интерфейс позволяет быстро находить нужные функции.</p>
            </div>
            <div class="card">
                <h3 class="title">Персонализированные отчеты</h3>
                <p class="text">Получайте детализированные отчеты о своих расходах и доходах,
                    чтобы видеть полную картину своих финансов.</p>
            </div>
            <div class="card">
                <h3 class="title">Безопасность данных</h3>
                <p class="text">Мы гарантируем высокий уровень защиты ваших данных.
                    Ваши финансовые сведения находятся в безопасности.</p>
            </div>
        </div>
    </div>
    <div class="info-block">
        <div class="container">
            <h2 class="title">Твой старт в финансовой грамотности!</h2>
            <p class="text">Финансовая грамотность — это основа успешного управления деньгами. В MyMoney
                мы поможем вам освоить ключевые аспекты, такие как бюджетирование, инвестиции и управление долгами.
                Узнайте, как контролировать свои расходы, увеличивать капитал и ставить финансовые цели.
                Начните свой путь к финансовой независимости с MyMoney!</p>
        </div>
    </div>
    <div class="container">
        <div class="cart-img">
            <div class="cart">
                <h2 class="title">Начните свой путь к финансовой независимости уже сегодня!</h2>
                <p class="text">Зарегистрируйтесь и получите доступ к бесплатным инструментам,
                    которые помогут вам контролировать свои финансовые цели.</p>
                <a href="/sign-in" class="svg-block">
                    <svg viewBox="0 0 27 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8578 16.8542C27.0093 17.6493 27.0093 19.3507 25.8578 20.1458L3.13638 35.8344C1.80971 36.7504 0 35.8008 0 34.1886V2.81139C0 1.19919 1.80971 0.249562 3.13638 1.1656L25.8578 16.8542ZM19.1976 20.1458C20.3491 19.3507 20.3491 17.6493 19.1976 16.8542L6.93276 8.3856C5.60609 7.46957 3.79638 8.4192 3.79638 10.0314V26.9686C3.79638 28.5808 5.60609 29.5304 6.93276 28.6144L19.1976 20.1458Z" fill="white"/>
                    </svg>
                </a>
            </div>
            <div class="img one"></div>
        </div>
        <div class="cart-img">
            <div class="img two"></div>
            <div class="cart">
                <h2 class="logo title">MyMoney</h2>
                <p class="text">
                    Мы помогаем людям достигать финансовой грамотности и уверенности.
                    Предоставляем простые инструменты для управления финансами, чтобы
                    вы могли сосредоточиться на своих мечтах и строить лучшее будущее.
                </p>
                <a href="/sign-in" class="svg-block">
                    <svg viewBox="0 0 27 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8578 16.8542C27.0093 17.6493 27.0093 19.3507 25.8578 20.1458L3.13638 35.8344C1.80971 36.7504 0 35.8008 0 34.1886V2.81139C0 1.19919 1.80971 0.249562 3.13638 1.1656L25.8578 16.8542ZM19.1976 20.1458C20.3491 19.3507 20.3491 17.6493 19.1976 16.8542L6.93276 8.3856C5.60609 7.46957 3.79638 8.4192 3.79638 10.0314V26.9686C3.79638 28.5808 5.60609 29.5304 6.93276 28.6144L19.1976 20.1458Z" fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="about">
            <div class="content">
                <p class="pretext">О нас</p>
                <h1 class="logo title">MyMoney</h1>
                <p class="text">
                    MyMoney — это инновационная платформа, созданная для того, чтобы помочь людям обрести финансовую грамотность и уверенность в своих финансовых решениях.
                    Мы предлагаем удобные инструменты для управления бюджетом, планирования расходов и достижения финансовых целей. Наша цель — сделать финансовое
                    образование доступным и понятным для каждого, чтобы вы могли уверенно строить свое будущее. С MyMoney вы получите поддержку на каждом шагу своего
                    финансового пути.
                </p>
            </div>
            <div class="blocks-4">
                <div class="block">
                    <h2 class="title">5000</h2>
                    <p class="text">Пользователей нашей платформы</p>
                    <a href="/sign-in">Открыть</a>
                </div>
                <div class="block">
                    <h2 class="title">100%</h2>
                    <p class="text">Успешных финансовых планов</p>
                    <a href="/sign-in">Открыть</a>
                </div>
                <div class="block">
                    <h2 class="title">10</h2>
                    <p class="text">Партнеров в финансовой сфере</p>
                    <a href="/sign-in">Открыть</a>
                </div>
                <div class="block accent">
                    <h2 class="title">24/7</h2>
                    <p class="text">Доступ к поддержке и ресурсам</p>
                    <a href="/sign-in">Открыть</a>
                </div>
            </div>
        </div>
    </div>
{{template "footer.html" .}}